extends layout.pug

block content

  //- Navigation section
  nav.nav
    //- Return link
    a(href='/')
      span &larr;
      |  Back

  //- Project details
  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        //- Project title
        h1= project.project_name

        //- Project description
        p= project.description

      .project-tech-links-box.box
        //- Project technologies
        h6 Technologies
        ul
          //- Iterate through each technology in the data.json and display it as a list item
          each technology in project.technologies
            li= technology

        //- Link to live demo
        a.btn-link(href=project.live_link, target='_blank') Live Demo

        //- Link to GitHub repository
        a.btn-link(href=project.github_link, target='_blank') GitHub Repo

    .project-img-box.box
      //- Iterate through each image URL in data.json and display them with an alt text
      each image, index in project.image_urls
        img.project-img(src=`/static/${image}`, alt=`${project.project_name} - Example image ${index + 1}`)

  //- Navigation section again
  nav.nav
    //- Return link again
    a(href='/')
      span &larr;
      |  Back
